<div class="new_entries section">
<h2>最新のブログ記事</h2>
<ul>
<% Post.recent(10).each do |post| %>
<li class="clearfix">
<a href="<%= post.link %>" class="clearfix"><span class="title"><%= post.title %><span class="date"><%= l post.created_at %></span></span>
<span class="auther"><img src="<%= gravatar_image_url(post.user.email) %>"/><br /><%= post.user.name %></span>
<span class="date"></span></a>
<a href="http://b.hatena.ne.jp/entry/http://kuroigamen.com<%= post.link %>" target="_blank"><img src="http://b.hatena.ne.jp/entry/image/small/http://kuroigamen.com<%= post.link %>"></a></li>
<% end %>
</ul>
</div>

<div class="works section">
<h2>最新の実績</h2>
<ul>
<li><a href="http://happy1000days.com/" target="_blank"><img src="/theme/kuroigamen/images/aside_works_happy1000days.jpg" width="340" height="100" alt="happy1000days" /></a></li>
<li><a href="http://lokka.org/" target="_blank"><img src="/theme/kuroigamen/images/aside_works_lokka.jpg" width="340" height="100" alt="happy1000days" /></a></li>
<li><a href="http://croppi.heroku.com/" target="_blank"><img src="/theme/kuroigamen/images/aside_works_croppi.jpg" width="340" height="100" alt="happy1000days" /></a></li>
</ul>
</div>

<div class="banners section">
<h2>こちらも合わせてどうぞ</h2>
<ul>
<li><a href="http://fjord.jp/tag/dont-be-afraid-kuroigamen" target="_blank"><img src="/theme/kuroigamen/images/banner_fjord_kuroigamen.jpg" width="340" height="130" alt="webデザイナーの為の「本当は怖くない」“黒い画面”入門" /></a></li>
</ul>
</div>

<div class="amazon section">
<h2>アフィリエイト</h2>

<ul>
<li><iframe src="http://rcm-jp.amazon.co.jp/e/cm?lt1=_blank&bc1=2C2820&IS2=1&bg1=2C2820&fc1=FFF6E5&lc1=1EFF00&t=machidateppei-22&o=9&p=8&l=as1&m=amazon&f=ifr&asins=B0020STA4M" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe></li>
</ul>

<div>
