<div class="new_entries section">
<h2>最新のブログ記事</h2>
<ul>
<% Post.recent(10).each do |post| %>
<li class="clearfix">
<a href="<%= post.link %>" class="clearfix"><span class="title"><%= post.title %><span class="date"><%= l post.created_at %></span></span>
<span class="auther"><img src="<%= gravatar_image_url(post.user.email) %>"/><br /><%= post.user.name %></span>
<span class="date"></span></a>
<a href="http://b.hatena.ne.jp/entry/http://kuroigamen.com<%= post.link %>" target="_blank"><img src="http://b.hatena.ne.jp/entry/image/small/http://kuroigamen.com<%= post.link %>"></a></li>
<% end %>
</ul>
</div>

<div class="works section">
<h2>最新の実績</h2>
<ul>
<li><a href="http://happy1000days.com/" target="_blank"><img src="/theme/kuroigamen/images/aside_works_happy1000days.jpg" width="340" height="100" alt="happy1000days" /></a></li>
<li><a href="http://lokka.org/" target="_blank"><img src="/theme/kuroigamen/images/aside_works_lokka.jpg" width="340" height="100" alt="happy1000days" /></a></li>
<li><a href="http://croppi.heroku.com/" target="_blank"><img src="/theme/kuroigamen/images/aside_works_croppi.jpg" width="340" height="100" alt="happy1000days" /></a></li>
</ul>
</div>


