<div class="article section">
<div class="header">
<h2 class="title"><a href="<%= @entry.link %>"><%= @entry.title %></a></h2>
<p class="pubdate"><span class="mounth"><%= @entry.created_at.month %>月</span><span class="date"><%= @entry.created_at.day %>日</span><span class="year"><%= @entry.created_at.year %></span></p>
</div>

<div class="body">
<dl class="author">
<dt>この記事を書いた人</dt>
<dd><%= @entry.user.name %></dd>
</dl>
<div class="content">
<%= @entry.body %>
<% unless @entry.tags.size.zero? %>
<ul class="tags">
<li class="tags"><%= @entry.tags_to_html %></li>
</ul>
<% end %>
</div>
</div>
	
	
<div class="footer">
<% if logged_in? %>
<p><a href="<%= @entry.edit_link %>"><%= t.edit %></a></p>
<% end %>    
</div>
</div>
