<div class="article section">
<%# [条件分岐] 投稿のとき %>		
<% if @entry.class == Post %>
<div class="header">
<h2 class="title"><a href="<%= @entry.link %>"><%= @entry.title %></a></h2>
<p class="pubdate"><span class="mounth"><%= @entry.created_at.month %>月</span><span class="day"><%= @entry.created_at.day %>日</span><span class="year"><%= @entry.created_at.year %></span></p>
</div>

<%# [条件分岐] それ以外 %>
<% else %>
<div class="header_page">
<h2 class="title"><a href="<%= @entry.link %>"><%= @entry.title %></a></h2>
<dl class="author">
<dt>最終編集者</dt>
<dd><%= @entry.user.name %> <img src="<%= gravatar_image_url(@entry.user.email) %>"/></dd>
</dl>
</div>
<% end %>

<div class="body">
<%# [条件分岐] ページのとき %>
<% if @entry.class == Page %>
<dl class="author">
<dt>最終更新日</dt>
<dd><%= l @entry.created_at %></dd>
</dl>

<%# [条件分岐] それ以外 %>
<% else %>
<dl class="author">
<dt>この記事を書いた人</dt>
<dd><%= @entry.user.name %> <img src="<%= gravatar_image_url(@entry.user.email) %>"/></dd>
</dl>
<% end %>

<div class="content">
	
<%# [条件分岐] 投稿のとき %>	
<% if @entry.class == Post %>
<ul class="buttons">	
<li><%= tweet_button %></li>
<li class="hatena"><%= hatena_bookmark_button(@entry.title) %></li>
<li><%= mixi_check %></li>
<li class="gree"><%= gree_social_feedback %></li>
<li class="fb clearfix"><%= facebook_like_button() %></li>
</ul>
<% end %>



<%= @entry.body %>
<% unless @entry.tags.size.zero? %>
<%= @entry.tags_to_html %>
<% end %>

<%# [条件分岐] 投稿のとき %>
<% if @entry.class == Post %>
<%= comment_form %>
<% end %>

</div>

</div>
	
	
<div class="footer">
<% if logged_in? %>
<p><a href="<%= @entry.edit_link %>"><%= t.edit %></a></p>
<% end %>    
</div>
</div>
